:root {
	--font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	--font-size: 16px;
	--line-height: 24px;
	--font-weight: 400;

	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);

	font-weight: var(--font-weight);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	min-block-size: 100vh;
	display: grid;
}

footer {
	align-self: end;
}

main {
	display: flex;
}

li {
	cursor: pointer;
}

.playlist-cover {
	width: 32px;
	height: 32px;
	object-fit: cover;
	border-radius: 4px;
	margin-right: 8px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
}

.playlist-cover-large {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 8px;
	margin-right: 16px;
	image-rendering: -webkit-optimize-contrast;
}

.songs-header {
	margin-bottom: 20px;
}

.playlist-info {
	display: flex;
	align-items: center;
	gap: 16px;
}

.playlist-title-info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.cover-selection-container {
	display: flex;
	align-items: center;
	gap: 16px;
}

.cover-preview {
	width: 100px;
	height: 100px;
	border-radius: 8px;
	overflow: hidden;
}

.cover-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}